<html>
<div th:fragment="navbar">
    <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
        <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
        <ul class="nav nav-pills">
            <li class="nav-item" th:each="categoryType : ${categoryTypes}">
                <a href="" th:href="@{|/board/${categoryType.name()}|}" th:text="${categoryType.description}"
                   class="nav-link"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#scrollspyHeading2" th:href="@{/board/game}">Game</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                   aria-expanded="false">Dropdown</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
                    <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
</html>